/* Base Styles */

:root {
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  min-height: 100vh;
  background-color: #fafafa;
  color: #262626;
  padding-bottom: 3rem;
}

img {
  display: block;
}

/* profile section */
.container {
  display: flex;
  border: 1px solid red;
  padding: 10px;
  margin: 5px;
}

.profile {
  display: flex;
}

.top-bar {
  display: flex;
  border: 1px solid red;
  margin-left: 10%;
}

.profile-stats {
  display: flex;
  border: 1px solid red;
}

.profile-bio {
  display: flex;
  border: 1px solid red;
}

/* Gallery section */

/* .gallery {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
} */

.container {
  display: grid;
  grid-template-rows: 3;
  grid-template-columns: 4;
  border: 1px solid red;
}

.gallery-item > .gallery-image {
  display: grid;
  width: 309px;
  height: 309px;
  border: 1px solid red;
}

.gallery-item {
  display: grid;
  border: 1px solid red;
}

/* .profile-image {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-image img {
  width: 100%;
  height: 100%;
}

.profile-user-settings {
  display: flex;
  gap: 10px;
}

.profile-stats {
  display: flex;
  margin-left: 370px;
}

.profile-bio {
  display: flex;
  margin-left: 370px;
} */

/* .gallery-item:hover .gallery-item-info,
.gallery-item-focus,
.gallery-item-info {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0, 3);
}

.gallery-item-info {
  display: none;
} */
