/* Base Styles */

:root {
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  min-height: 100vh;
  background-color: #fafafa;
  color: #262626;
  padding-bottom: 3rem;
}

img {
  display: block;
}

/* profile section */
.container {
  display: flex;
  border: 1px solid red;
  padding: 10px;
  margin: 5px;
}

.profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 109px 109px 109px;
}

.profile-image {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 3;
}

.top-bar {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  cursor: pointer;
  gap: 4px;
  padding-top: 50px;
}

.profile-stats {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  padding-top: 50px;
  cursor: pointer;
}

.profile-bio {
  grid-column-start: 2;
  grid-row-start: 3;
  grid-row-end: 3;
  padding-top: 50px;
  cursor: pointer;
}

/* Gallery section */
.gallery {
  display: grid;

  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.gallery-item {
  display: flex;
  width: 300px;
  height: 300px;
  margin-left: 10px;
  cursor: pointer;
}

.gallery-item:hover,
.gallery-item-info:hover {
  opacity: 0.1;
  cursor: pointer;
}

/* Loader wheel */

.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

/* Media query */
@media (max-width: 500px) {
  .gallery {
    display: grid;
  }
  .profile {
    display: flex;
  }
  .loader {
    justify-content: center;
  }
}

/* Past ideas */
/* .gallery-item > .gallery-image {
  display: grid;
  width: 309px;
  height: 309px;
  border: 1px solid red;
}

.gallery-item {
  display: grid;
  gap: 5px;
  border: 1px solid red;
} */

/* .profile-image {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-image img {
  width: 100%;
  height: 100%;
}

.profile-user-settings {
  display: flex;
  gap: 10px;
}

.profile-stats {
  display: flex;
  margin-left: 370px;
}

.profile-bio {
  display: flex;
  margin-left: 370px;
} */
